<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>system</display-name>
  <welcome-file-list>
    <welcome-file>/home</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>version</param-name>
    <param-value>1.0</param-value>
  </context-param>
  <error-page>
  	<location>/error-default.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/not-found.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error-handler</location>
  </error-page>
  
  <filter-mapping>
    <filter-name>doLogin</filter-name>
    <url-pattern />
</filter-mapping>
<filter-mapping>
    <filter-name>blockForm</filter-name>
    <url-pattern />
</filter-mapping>
  
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/index.jsp</form-login-page>
      <form-error-page>/bad-user.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-constraint>
    <display-name>Segurança para acessar o sistema</display-name>
    <web-resource-collection>
      <web-resource-name>Somente Usuários</web-resource-name>
      <url-pattern>/home</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Somente Usuários</web-resource-name>
      <url-pattern>/about.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Segurança para o diretório de usuários</display-name>
    <web-resource-collection>
      <web-resource-name>Somente Admins!</web-resource-name>
      <url-pattern>/products.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <error-page>
    <error-code>403</error-code>
    <location>/no-perm.html</location>
  </error-page>
</web-app>